/*---------------------------------------------Principal---------------------------------------------*/
main{
    line-height: 30px;
}

/*---------------------------------------------Formulario---------------------------------------------*/
.formulario{
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

/*---------------------------------------------Form---------------------------------------------*/
label, input, textarea{
    margin:  0px 10px;
    padding: 10px;
     width: 100%;
    border-radius: 3px;
        
}
form{
    max-width: 600px;
}

/*---------------------------------------------Extra---------------------------------------------*/
.extra{
    max-width: 500px;
    padding: 10px;
}