/*---------------------------------------------Generales---------------------------------------------*/
* {
    margin: 0px;
    padding: 0px;
}
h2,h3{
 
    color: #98274b;

}
img{
    border-radius: 10px;
}
/*---------------------------------------------Header---------------------------------------------*/

.red > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.red {
    background-color: #98274b;
}

.red a {

    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.contenidoRed {
    text-align: right;
}

/*---------------------------------------------Logo---------------------------------------------*/

.contenedorLogo{
   background: url(../Images/fondo2.jpg) center top no-repeat ;
}
    .logo {
     width: auto;
    
    background-color: rgba(188,188,188,0.4);
    padding: 20px 10px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
    min-height: 368px;
    text-align:  center;
   
}

.contenidoLogo1{
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
}
.contenidoLogo1 a img{
    width: 100%;
}
.contenidoLogo2 {
    height: 172px;
}

.contenidoLogo2 h1 {
    font-size: 70px;
    color: #000000;
}

.contenidoLogo2 p {
    font-size: 35px;
    color: #000000;
}

/*---------------------------------------------Menu primer nivel---------------------------------------------*/

.menu {
    background-color: #63bc46;
   
    
}

.contenidoMenu {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.contenidoMenu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav {
    margin: 0 auto;
    position: relative;
     -webkit-transition:all ease 2s;
    -o-transition:all ease 2s;
    transition: all ease 2s;
}

nav > ul > li {
    float: left;
}

nav ul::after {
    content: '';
    display: block;
    clear: both;
}

nav ul li a {
    font-size: 20px;
    display: inline-block;
    width: 150px;
    color: #98274b;
    text-decoration: none;
    text-align: center;
    padding: 20px 5px;
}

nav ul li a:hover {
    background-color: #98274b;
    color: #ffffff;
}

.menu-fixed{
    background-color: rgba(99,188,70,0.95);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.7)
}
.menu-fixed ul li a{
    font-size: 15px;
     padding: 15px 5px;
}

/*---------------------------------------------Menú segundo nivel---------------------------------------------*/

nav ul ul {
    position: absolute;
    top: 100%;
    background-color: rgba(152, 39, 75, 0.7);
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul li:hover > a {
    background-color: #78274f;
    color: #ffffff;
}

nav ul li ul li a{
    color: #ffcb04;
}

/*---------------------------------------------Main---------------------------------------------*/

/*---------------------------------------------Footer---------------------------------------------*/

footer {
    background-color: #63bc46;
    color: #98274b;
    padding-bottom: 20px;
}
footer ul{
    list-style: none;
}
footer a {
    text-decoration: none;
    color: #ffcb04;
}
footer div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}
.contenidoFooter{
    padding: 30px;
    max-width: 500px;
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contenidoFooter h4{
    padding: 5px;
    font-size: 20px;
}
.contenidoFooter li{
    padding: 4px;
}
.contenidoFooter a{
    font-size: 15px;
}

footer p{
    padding: 5px;
}