/*---------------------------------------------Generales---------------------------------------------*/

.contenedorMain h2{
    font-size: 40px;
}
/*---------------------------------------------Slider---------------------------------------------*/

.contendorSlider {
    padding: -5px;
    max-height: 548.79px;
    
}

.contendorSlider div {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0%
    }
    20% {
        margin-left: 0%
    }
    25% {
        margin-left: -100%
    }
    45% {
        margin-left: -100%
    }
    50% {
        margin-left: -200%
    }
    70% {
        margin-left: -200%
    }
    75% {
        margin-left: -300%
    }
    95% {
        margin-left: -300%
    }
    100% {
        margin-left: -300%
    }
}

/*---------------------------------------------Div internos---------------------------------------------*/

.servicios,
.innovacion,
.proyectos,
.compromiso,
.contacto, .clientes {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*---------------------------------------------Servicios---------------------------------------------*/
.contenedorServicios{
    background-color: #f0f0f0;
}

.servicios{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicios a{
    text-decoration: none;
}
.servicios a:hover {
    background-color: rgba(255,241,186,0.7);   
}
.servicios a p{
    color: #f5821f;
}

.serviciosContenido {
    margin: 5px;
    padding: 10px;
    max-width: 270px;
    text-align: center;
}

.serviciosContenido .imagen {
    align-content: center;
    max-width: 260px;
}

.serviciosContenido img {
   width: 100%;
}

.serviciosContenido div h3 {
    color: #98274b;
}

/*---------------------------------------------Innovación---------------------------------------------*/
.innovacion{
    padding: 20px;
}
.linea{
    color: #63bc46;
}
.innovacion div h2, .experiencia{
    padding: 20px;
}
.innovacionInterno{
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
}
.innovacionInterno h3{
     margin: 20px;
}
.progresoContenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contenidoProgreso{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 400px;
}
.experiencia{
    font-size: 20px;
    color: #f5821f;
}
.innovacionImg img{
    width: 30px;
}
.contenidoProgreso div p{
    max-width: 370px;
color: #f5821f;
}
/*---------------------------------------------Proyectos---------------------------------------------*/
.contenedorProyectos{
    background-color: #f0f0f0;
}
 /*---------------------------------------------Compromiso---------------------------------------------*/

/*---------------------------------------------Contactenos---------------------------------------------*/

.contacto >div{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    background-color: rgba(188,188,188,0.8)
}
.contenedorContacto{
    background: url(../Images/mapa.PNG) center -100px;
    background-color: #f0f0f0;
}

.logoContacto{
    margin-left: auto;
    margin-right: auto;
    max-width: 100px;
}
.logoContacto img{
    width: 100%;
}
.contenidoContacto h3{
    padding: 10px;
    font-size: 25px;
}
.contenidoContacto p{
    color: #f5821f;
    font-size: 20px;
    line-height: 30px;
}
/*---------------------------------------------Clientes---------------------------------------------*/
.clientes{
    padding: 20px;
}
.contenidoClientes{
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.clientesInfo div {
    vertical-align: middle;
    max-width: 260px;
}
.clientesInfo div img{
    width: 100%;
}
