/*---------------------------------------------Principal---------------------------------------------*/

.contenedorMain h2 {
    text-align: center;
    font-size: 40px;
}

.contenedorPerfil,
.contenedorMision,
.contenedorVision,
.contenedorValores {

    padding: 20px;


}

.perfilContenido,
.misionContenido,
.visionContenido {

    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.perfilDescripcion,
.misionDescripcion,
.visionDescripcion {
    line-height: 30px;
    padding: 10px;
    text-align: center;
    max-width: 600px;
    margin-top: auto;
    margin-bottom: auto;
}

.perfilDescripcion p,
.misionDescripcion p,
.visionDescripcion p,
.valoresDescripcion p {
    font-size: 17px;
    padding: 10px;
   
}

.perfilImg,
.misionImg,
.visionImg,
.valoresImg {
    padding: 20px;
    max-width: 440px;
}

.perfilImg img,
.misionImg img,
.visionImg img,
.valoresImg img {
    width: 100%;
}

/*---------------------------------------------Mision---------------------------------------------*/

.contenedorMision {
    background: url(../Images/fondo1.jpg);
    background-color: #f0f0f0;
}

/*---------------------------------------------Valores---------------------------------------------*/
.contenedorValores{
      background: url(../Images/fondo1.jpg);
}
.valoresContenido {

    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.valoresDescripcion {
    line-height: 30px;
    padding: 10px;
    text-align: center;
    max-width: 700px;
     margin-top: auto;
    margin-bottom: auto;
}

.valoresDescripcion h2 {
    padding: 20px;
}

.contenedorValores {
    background-color: #f0f0f0;
}

.valoresInterno {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.valorA {
    padding: 15px;
    max-width: 320px;
}
