/*---------------------------------------------General---------------------------------------------*/

h2,
h3 {
    text-align: center;
    padding: 10px;
}

.consultoria,
.asesoria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.consultoria,
.asesoria,
.proyectos {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.imgConsultoria,
.imgAsesoria {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    padding: 20px;
}

.imgConsultoria img,
.imgAsesoria img {
    width: 100%;
}

/*---------------------------------------------Asesoria---------------------------------------------*/

.asesoriaContenido {
    margin-bottom: auto;
    margin-top: auto;
    max-width: 550px;
}

/*---------------------------------------------Consultoria---------------------------------------------*/

.contenedorConsultoria {
    background-color: #f0f0f0;
}

.consultoriaContenido {
    margin-bottom: auto;
    margin-top: auto;
    max-width: 550px;
}

/*---------------------------------------------Proyectos---------------------------------------------*/

.proyectosContenido {
    width: 100%;
}

.proyectosContInterno,
.listaproyectos {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contInterno {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

main {

    line-height: 35px;
}
